#allPosts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#post {
    border: 2px solid #79D3E7;
    color: black;
    width: 20vw;
    height: 40vh;
    display: flex;
    margin: 2px;
    padding: 3px;
    font-size: 5px sans-serif;
    flex-direction: column;
    justify-content: "space-between";
    align-items: center;
}

.allcomments{
    z-index: 6;
    background-color: lightskyblue;
    position: absolute;
    border: 2px solid black;
    width: 40vw;
    top: 0vh;
    right: 30vw;
    padding: 2vh; 
}
.activePostStyle {
    z-index: 1;
    background-color: #79D3E7;
    position: absolute;
    border: 2px solid black;
    height: 100vh;
    top: 10vh;
    right: 38vw;
    padding: 2vh;
}

.noCommentsStyle{
    z-index: 1;
    background-color: #79D3E7;
    position: absolute;
    border: 2px solid black;
    height: 60vh;
    top: 20vh;
    right: 38vw;
    padding: 2vh;
}
.postStyle {
    border-color: aliceblue;
}

#titleArea{
    padding: 0;
    height: 100%;
    width: 100%;
  
    text-align: center;
    position: relative;
    /* top:10vh; */
}

#bodyArea{
    padding: 0;
    height: 17vh;
    width: 20vw;
    text-align: center;
    position: relative;
    top:30vh;
}